<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li> <img src='assets/images/Logo_svm.jpg'  height="50"  >  </li>
        <li> <a ng-href="#/">Home</a></li>
        <li><a ng-href="#/MesaBlock">Block</a></li>
        <li><a ng-href="#/svg/ThePlant">Diagram</a></li>
      </ul>
     

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li>Vm Web {{ vm.version }}.</li>
      </ul>
    </div>
  </div>
</nav>
