<div ng-controller="BoilerController">
    <tabset vertical="false" type="pills">
        <tab heading="Inputs">
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"> Name</div>
                                    <div class="panel-body">
                                        <input type="text" value={{boiler.sBlockName}} disabled>
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading"> Status</div>
                                    <div class="panel-body">
                                        <table class="table-condensed">
                                            <tr>
                                                <td>
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">
                                                <input type="radio" name="rbStatus" value="On" ng-model="boiler.status">&nbsp On
                                            </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">
                                                <input type="radio" name="rbStatus" value="Off" ng-model="boiler.status">&nbsp Off
                                            </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">
                                                <input type="radio" name="rbStatus" value="Unavailable" ng-model="boiler.status">&nbsp Unavailable
                                            </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="panel panel-primary">
                                    <table class="table-condensed">
                                        <tr>
                                            <td>
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-addon">
                                                        
                                                <input id="rb1" type="radio" name="rbFlowOrDuty" ng-value="true" ng-model="boiler.bFlowIfTrue">&nbsp Flow
                                                    </span>
                                                    <input type="number" value={{boiler.flow}} class="form-control" placeholder="enter a value">
                                                    <span class="input-group-addon">  {{boiler.sFlowUnits}} </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-addon">
                                                        <input type="radio" name="rbFlowOrDuty" ng-value="false" ng-model="boiler.bFlowIfTrue">&nbsp Duty
                                                    </span>
                                                    <input type="number" value={{boiler.dDuty}} class="form-control" placeholder="enter a value">
                                                    <span class="input-group-addon">  {{boiler.sDutyUnits}} </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1">
                                                <br>
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-addon">
                                                        <input type="checkbox" name="cbHoldDutyConstant" value="Yes">&nbsp Hold duty constant at optimization
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="panel panel-primary">
                                    <table class="table-condensed">
                                        <tr>
                                            <td>
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-addon">Temperature</span>
                                                    <input type="number" value={{boiler.dTemperature}} class="form-control" placeholder="-1">
                                                    <span class="input-group-addon">  {{boiler.sTemperatureUnits}} </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-addon" id="sizing-addon2">Efficiency</span>
                                                    <input type="number" value={{boiler.dEfficiency}} class="form-control" placeholder="-1">
                                                    <span class="input-group-addon">  {{boiler.sEfficiencyUnits}} </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-addon" id="sizing-addon3">Blowdown</span>
                                                    <input type="number" value={{boiler.dBlowDown}} class="form-control" placeholder="-1">
                                                    <span class="input-group-addon">  {{boiler.sBlowDownUnits}} </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="panel panel-primary">
                                    <div class="panel-heading"> Exhaust Pressure </div>
                                    <table class="table-condensed">
                                        <tr>
                                            <td>
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-addon">
                                                              <input type="radio" name="rbExhaustPressure" ng-value="true" ng-model="boiler.bExhaustPressureIfTrue"> Outlet Header Pressure
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-addon">
                                                        <input type="radio" name="rbExhaustPressure" ng-value="false" ng-model="boiler.bExhaustPressureIfTrue"> Exhaust Pressure
                                                    </span>
                                                    <input type="number" value={{boiler.dPressure}} class="form-control" placeholder="enter a value">
                                                    <span class="input-group-addon">  {{boiler.dPressureUnits}} </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Equipment Outputs">
        </tab>
        <tab heading="Stream Outputs">
        </tab>
        <tab heading="Block Cost">
        </tab>
        <tab heading="Description">
            <textarea class="form-control" ng-model="boiler.sDescription" rows="10" wrap="hard" />
        </tab>
    </tabset>
</div>