<div ng-controller="BoilerController">
    <tabset vertical="false" type="pills">
        <tab heading="Inputs">
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"> Name</div>
                                    <div class="panel-body">
                                        
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control" placeholder="Block Name" value={{boiler.sBlockName}} disabled>
                                            </div>
                                        </div>
                                        
                                        </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading"> Status</div>
                                    <div class="panel-body">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-addon">
                                                        <input type="radio" name="rbStatus" value="On" ng-model="boiler.status">  On
                                                    </span>
                                                </div>
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-addon">
                                                        <input type="radio" name="rbStatus" value="Off" ng-model="boiler.status">&nbsp Off
                                                    </span>
                                                </div>
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-addon">
                                                        <input type="radio" name="rbStatus" value="Unavailable" ng-model="boiler.status">&nbsp Unavailable
                                                    </span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="panel panel-primary">
                                    <form >
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                        <input id="rb1" type="radio" name="rbFlowOrDuty" ng-value="true" ng-model="boiler.bFlowIfTrue">&nbsp Flow
                                                    </span>
                                                <input type="number" value={{boiler.flow}} class="form-control" placeholder="enter a value" ng-disabled="!boiler.bFlowIfTrue">
                                                <span class="input-group-addon">  {{boiler.sFlowUnits}} </span>
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                        <input type="radio" name="rbFlowOrDuty" ng-value="false" ng-model="boiler.bFlowIfTrue">&nbsp Duty
                                                    </span>
                                                <input type="number" value={{boiler.dDuty}} class="form-control" placeholder="enter a value" ng-disabled="boiler.bFlowIfTrue">
                                                <span class="input-group-addon">  {{boiler.sDutyUnits}} </span>
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                        <input type="checkbox" name="cbHoldDutyConstant" value="Yes">&nbsp Hold duty constant at optimization
                                                    </span>
                                            </div>
                                        </div>
                                    </form>


                                </div>
                                <div class="panel panel-primary">
                                    <form>
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">Temperature</span>
                                                <input type="number" value={{boiler.dTemperature}} class="form-control" placeholder="-1">
                                                <span class="input-group-addon">  {{boiler.sTemperatureUnits}} </span>
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon" id="sizing-addon2">Efficiency</span>
                                                <input type="number" value={{boiler.dEfficiency}} class="form-control" placeholder="-1">
                                                <span class="input-group-addon">  {{boiler.sEfficiencyUnits}} </span>
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon" id="sizing-addon3">Blowdown</span>
                                                <input type="number" value={{boiler.dBlowDown}} class="form-control" placeholder="-1">
                                                <span class="input-group-addon">  {{boiler.sBlowDownUnits}} </span>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="panel panel-primary">
                                    <div class="panel-heading"> Exhaust Pressure </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                      <input type="radio" name="rbExhaustPressure" ng-value="true" ng-model="boiler.bExhaustPressureIfTrue"> Outlet Header Pressure
                                                  </span>
                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <input type="radio" name="rbExhaustPressure" ng-value="false" ng-model="boiler.bExhaustPressureIfTrue" > Exhaust Pressure
                                                </span>
                                                <input type="number" value={{boiler.dPressure}} class="form-control" placeholder="enter a value" ng-disabled="boiler.bExhaustPressureIfTrue">
                                                <span class="input-group-addon">  {{boiler.dPressureUnits}} </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Equipment Outputs">
        </tab>
        <tab heading="Stream Outputs">
        </tab>
        <tab heading="Block Cost">
        </tab>
        <tab heading="Description">
            <textarea class="form-control" ng-model="boiler.sDescription" rows="10" wrap="hard" />
        </tab>
    </tabset>
</div>